/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Variables */
:root {
    --primary-color: #114880;
    --muted-primary: #3B5D80;
    --secondary-color: #01BBFF;
    --muted-secondary: #2985E2;
    --orange: #FF8A4B;
}

/* Global Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    font-family: 'Work Sans', sans-serif;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    color: white;  
}

nav .link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .2s ease;
}

nav .link:hover {
    background: #ffffff30;
}

nav .menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.row {
    display: flex;
}


/* Button Styles */
.btn {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
    gap: 10px;
    transition: .2s ease;
}

.btn .icon {
    height: 20px;
}

.btn.btn-white {
    background: #fff;
    color: var(--primary-color);
}

.btn.btn-muted-secondary {
    background: var(--muted-secondary);
    color: #fff;
}

.btn.outlined {
    background: transparent;
}

.btn.btn-white.outlined {
    border-color: #fff;
    color: #fff;
}

.btn.btn-white.outlined:hover {
    background: #fff;
    color: #000;
}
.btn.btn-white:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

/* Header Styles */
header {
    background-image: url("images/header-bg.svg");
    background-size: cover;
    background-position-y: bottom;
    z-index: 1001;
    position: relative;
}

/* Wrapper Styles */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}

/* Featured Info Section */
.featured-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.featured-info-title {
    font-size: 2.6rem;
    color: #fff;
}

.featured-info-title-highlight {
    color: var(--secondary-color);
    font-size: 3rem;
    margin: 0;
}

.featured-info-description {
    color: #fff;
    font-size: 1.8rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
}

.featured-info-description strong {
    color: var(--secondary-color);
}

.featured-info.center {
    align-items: center;
    text-align: center;
}

.featured-info-small-title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.featured-info-warning {
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
}

/* Featured Image Styles */
.featured-image {
    margin: 0 auto;
}

.slide-1 .featured-image {
    max-width: 55%;
    min-width: 500px;
}

.slide-2 .featured-image img {
    max-height: 300px;
    width: auto;
}

.featured-image img {
    width: 100%;
}

/* Slider Styles */
.slider {
    display: flex;
    padding: 80px 0px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    gap: 40px;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

/* Slider Controller Styles */
.slider-controller {
    position: absolute;
    color: #fff;
    z-index: 999;
    font-size: 1.2rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #00000050;
    border: none;
}

.slider-controller.next {
    top: 40%;
    right: 30px;
}

.slider-controller.prev {
    top: 40%;
    left: 30px;
}

/* Slide Styles */
.slide {
    display: flex;
    gap: 20px;
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
    position: relative;
}

.slide-3 .pattern {
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/slide-3-pattern.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Menu Icon */
.menu-icon {
    display: none !important;
}

.close-menu {
    display: none;
}

/* Black friday banner */
.black-friday-banner {
    position: fixed;
    top: 30%;
    left: 0;
    background: rgb(2,2,2);
    background: linear-gradient(130deg, rgba(2,2,2,1) 0%, rgba(36,36,36,1) 100%);
    z-index: 1000;
    border-radius: 10px;
    padding: 40px 60px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    display: flex;
    transform: translateX(0) scale(.9);
    transition: .2s ease;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #00000050;
}

.black-friday-banner.minimized {
    transform: translateX(-230px) scale(.8);
}

.black-friday-banner.minimized .open {
    display: inline;
}

.black-friday-banner .open, 
.black-friday-banner.minimized .close {
    display: none;
}

.minimized .minimized-block {
    display: flex !important;
}

.minimized {
    padding-right: 0px;
}

.minimized-block {
    writing-mode: vertical-lr;
    width: 60px;
    display: none;
    align-items: center;
    justify-content: center;
}

.minimized-block .title {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem !important;
}

.black-friday-banner .close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    background: #2B2B2B;
}

.black-friday-banner .badge {
    color: #BDBDBD;
    margin: 0;
}

.black-friday-banner .title {
    font-size: 1.4rem;
    font-weight: 500;
}

.black-friday-banner .high {
    color: var(--orange);
}

.black-friday-banner .timer {
    font-size: 2.2rem;
    margin-top: 0;
    font-weight: 500;
}

/* Sections */

section {
    padding: 40px 0;
}

section .header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--muted-primary);

    margin-bottom: 40px;
}

.section-title {
    font-weight: 400;
    font-size: 1rem;
}

.section-content {
    align-items: center;
    gap: 40px;
}

.responsive-row {
    display: flex;
}

.nosso-seguro-title {
    font-size: 2rem;
    color: var(--primary-color);
}

.nosso-seguro-content {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 40px;
}

.almeida-bem-img {
    max-width: 280px;
}

.section-badge {
    background: var(--primary-color);
    color: #fff;
    width: fit-content;
    padding: 10px 40px;
    font-weight: 400;
    border-radius: 4px;
    margin: 0;
    z-index: 999;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-grid {
    background: rgb(41,133,226);
    background: linear-gradient(90deg, rgba(41,133,226,1) 0%, rgba(1,187,255,1) 100%);
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: -20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.features-grid .col {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.2rem;
    width: fit-content;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.feature p {
    width: fit-content;
}

#nossos-seguros {
    text-align: center;
}

#nossos-seguros .title {
    color: var(--primary-color);
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.seguro-card {
    background: #F5F5F5;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px #00000030;
}

.card-img {
    overflow: hidden;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-category {
    margin-bottom: 30px;
    font-weight: 400;
}

.seguro {
    font-weight: 600;
    font-size: 1.2rem;
}

.know-more {
    color: var(--primary-color);
    margin: 20px 0;
}

.seguro-card-content .cta {
    margin-top: auto;
}

.seguro-card-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#cotacao {
    background: var(--primary-color);
    color: #fff;
    padding-top: 200px;
    margin-top: -180px;
    padding-bottom: 80px;
    text-align: center;
}

#cotacao .title {
    font-size: 1.4rem;
}

#cotacao .contact-cta {
    font-size: 1.2rem;
}

#cotacao .cta {
    margin: 0 auto;
}

#cotacao .tel-number {
    font-size: 2.4rem;
    margin: 30px auto;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px #fff dashed;
}

footer {
    padding: 20px;
}

.footer-row {
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.logo-footer {
    height: 50px;
}

.versa-copy {
    font-size: 1rem;
    color: var(--muted-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-versa {
    height: 25px;
}

.btn-whatsapp {
    background: #02C06E;
    position: fixed; 
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px #00000030;
    z-index: 1001;
}

.btn-whatsapp img {
    height: 30px;
}

/* Responsive Adjustments */
@media screen and (max-width: 890px) {
    .responsive-row {
        flex-direction: column;
    }    

    .sm-col-inversed {
        flex-direction: column-reverse;
    }

    .menu-icon {
        display: inherit !important;
    }

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .featured-info {
        align-items: center;
        text-align: center;
    }

    .slide-1 .featured-image {
        max-width: 100%;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .menu {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        z-index: 1000;
        background: #0d3359;
        top: 0;
        left: 0;
        padding: 40px;
        transform: translateY(-100%);
        box-sizing: border-box;
        transition: .2s ease;
        border-radius: 0 0 20px 20px;
    }

    .close-menu {
        font-weight: 600;
        display: inherit;
    }

    .menu.active {
        transform: translateY(0);
    }
    
    .slider-controllers::after {
        top: 50%;
        right: 30px;
    }
    
    .slider-controllers::before {
        top: 50%;
        left: 30px;
    }

    .slide {
        flex-direction: column;
        gap: 40px;
    }

    .slider {
        padding: 0px;
        padding-bottom: 100px;
    }

    .featured-info-title {
        font-size: 2.2rem;
        color: #fff;
    }    

    .slide-2 {
        gap: 10px;
    }
    
    .slide-2 .featured-image img {
        max-height: 200px;
        width: auto;
    }

    .featured-info-title-highlight {
        font-size: 2rem;
    }
    
    .featured-info-description {
        font-size: 1.2rem;
    }

    .featured-info-warning {
        font-size: 1rem;
    }

    .featured-info.center {
        justify-content: center;
    }

    .section-content {
        text-align: center;
        gap: 20px;
    }

    .almeida-bem-img {
        max-width: 60%;
    }

    .black-friday-banner.minimized {
        transform: translateX(-240px) scale(.8);
    }
    
    .features-grid {
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .footer-row {
        flex-direction: column;
        text-align: center;
    }

    .nosso-seguro-cta {
        margin: 0 auto;
    }
}
